@page
@model WebApplication1.Pages.AboutModel
@{
}

<h1>Infrastructure Asset Types</h1>
<ul>
    <li>railways</li>
    <li>roads</li>
    <li>bridges</li>
    <li>tunnels</li>
    <li>water supply</li>
    <li>sewers</li>
    <li>eletrical grids</li>
    <li>telecommunications</li>
    <li>buildins</li>

</ul>