@page
@model WebApplication1.Pages.AboutModel
@{
}



<main role="main">

    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
        <div class="container">
            <h1 class="display-3">About InfraClassify</h1>
            <p>InfraClassify was created as a submission to the Virtual ML.NET 2021 Hackathon. </p>
            <p>The objective of InfraClassify is to use ML.NET to create an image classification model
                for classifying images of infrastruture asset types. The different types can be found
                listed below.
            </p>
       
        </div>
    </div>

    <div class="container">
        <!-- Example row of columns -->
        <h1>Infrastructure Asset Types</h1>
        <ul>
            <li>railways</li>
            <li>roads</li>
            <li>bridges</li>
            <li>tunnels</li>
            <li>water supply</li>
            <li>sewers</li>
            <li>eletrical grids</li>
            <li>telecommunications</li>
            <li>buildings</li>

        </ul>

        <hr>

    </div> <!-- /container -->

</main>