@page
@model IndexModel

@{
    ViewData["Title"] = "InfraClassify";
}



<main role="main">

    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
        <div class="container">
            <h1 class="display-3">InfraClassify</h1>
            <p>Your Starting place to automate classification of infrastructure asset types. Models Trained with ML.NET. One stop shop for classifying your infrastructure asset types</p>
            <p><a class="btn btn-primary btn-lg" role="button" asp-area="" asp-page="/About">Learn more »</a></p>
        </div>
    </div>

    <div class="container">
        <!-- Example row of columns -->
        <div class="row">
            <div class="col-md-4">
                <h2>Web App</h2>
                <p>
                    Simple online image classification web app is used for classifying those unknown infrastures.
                    Neophytes to structures and buildings may not know the name of the type of asset. The web app is
                    easy to use for new beginners and offers a semi-robost classification of many different asset types.
                    The web app is still under development.
                </p>
                <p><a class="btn btn-secondary" role="button" asp-area="" asp-page="/WebApp">View Web App »</a></p>
            </div>
            <div class="col-md-4">
                <h2>Web API</h2>
                <p>If you are looking to classify many pictures, try InfraClassify's web api. 
                    Download the client or connect your own app to the Web API. Batch process your images.The web api is accessible over http. No need for controllers.</p>
                <p><a class="btn btn-secondary" role="button" asp-area="" asp-page="/WebApi">View Web API »</a></p>
            </div>
            <div class="col-md-4">
                <h2>Distributed Technologies Integration</h2>
                <p>
                    Looking to build an ecosystem in buying and selling models on blockchain? Or looking to harness the power and scale of distributed systems. 
                    Check out InfraClassify's initiative in improving models accuarcy and access by unlocking the web 3.0.
            
                </p>
                <p><a class="btn btn-secondary" role="button" asp-area="" asp-page="/AlgoWeb">View DLT Integration »</a></p>
            </div>
        </div>

        <hr>

    </div> <!-- /container -->

</main>