@page
@model ImageClassificationInfraClassify.MyWebApp.Pages.MetaWebModel
@{
}




<main role="main">

    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
        <div class="container">
            <h1 class="display-3">Distributed Technologies Integration</h1>
            <p>Upload your models to a blockchain.</p>
           
        </div>
    </div>

    <div class="container">
        <!-- Example row of columns -->
        <h1>Distributed Systems</h1>
        <p>Manage ml.net models and data operations on Mircrosoft's Project Orleans</p>
        
        <h1>Layer One Blockchain Intergration</h1>
        <p>Create dApps for using your Model</p>
        <p>Create ecosystems or exchanges for machine learning models on your choice of layer one blockchain.</p>
 

        <hr>
  

    </div> <!-- /container -->

</main>