@page
@model ImageClassificationInfraClassify.MyWebApp.Pages.WebApiModel
@{
}


<h2>Api's Swagger Access</h2>
<a href="https://localhost:44378/swagger/index.html">https://localhost:44378/swagger/index.html</a>


<h2>Download the Client</h2>
<p>Holding Place</p>
<p>Link here</p>