@page
@model ImageClassificationInfraClassify.MyWebApp.Pages.WebApiModel
@{
}




<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron">
    <div class="container">
        <h1 class="display-3">Client and Web API</h1>
        <p>Download console app and connect to web api to batch process your infrastructure image collection</p>
    
    </div>
</div>

<div class="container">
    <!-- Example row of columns -->
    <h2>Api's Swagger Access</h2>
    <a href="https://localhost:44378/swagger/index.html">https://localhost:44378/swagger/index.html</a>


    <h2>Download the Client</h2>
    <p>Holding Place</p>
    <p>Link here</p>


    <hr>

</div> <!-- /container -->